@use "../../abstracts/abstracts.scss" as *;

.contacts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 26px 20px;
}

.contacts__lead {
  margin: 0;
  padding-right: 15px;

  @include font-accent-uppercase(16px, 20px);
  color: $almost-black;
}

.contacts__address {
  display: grid;
  font-style: normal;
  line-height: 20px;
}
