@use "../abstracts/abstracts" as *;

.additional {
  padding: 25px 0 35px;
}

.additional__title {
  margin: 0 0 36px;
}

.additional__wrapper {
  display: grid;
  gap: 35px;
}

.additional__list {
  @include reset-list;
}

.additional__item {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 13px;
  padding: 13px 0 19px;
  font-size: 14px;
  line-height: 1;
}

.additional__subtitle {
  grid-column: 1 / -1;
  margin: 0;

  @include accent-caps-font(16px, 1);
  font-weight: 400;
  color: $color-nero;
}

.additional__weight {
  margin: 0;
}

.additional__price {
  margin: 0;
  text-align: right;
}

.additional__button {
  grid-column: 1 / -1;
  margin-top: 2px;
}

.additional__gift {
  position: relative;
  z-index: 1;
  display: grid;
  justify-content: center;
  padding: 59px 44px 43px;
  text-align: center;
  color: $color-default-white;
  background-image: url("../img/background/additional-gift-mobile.jpg");
  background-position: center;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: $color-accent-85;
  }
}

.additional__gift-text {
  max-width: 184px;
  margin: 0;
  font-size: 16px;
  line-height: 1.25;
}
