@use "../abstracts/abstracts" as *;

.button {
  display: flex;
  justify-content: center;
  padding: 10px 20px;

  @include caps-text(16px, 1.25);
  text-align: center;

  @include normalize-link;
  overflow-wrap: anywhere;
  background-color: $bg-color-basic;
  border: 0;
  cursor: pointer;

  &--primary {
    color: $color-white;
    background-color: $color-accent;
  }

  @media #{$tablet-desktop} {
    padding: 14px 27px;
    font-size: 20px;
    line-height: 1.3;
  }
}
