@use "../abstracts/abstracts" as *;

.card {
  display: grid;
  align-items: start;
  gap: 17px 0;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px 0 24px;
  font-size: 12px;
  line-height: 16px;
}

.card__link-image {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  width: 140px;
  height: 107px;
  padding: 0 17px;
}

.card__link-title {
  display: block;
  width: 55%;
  min-height: 40px;
  margin-bottom: 15px;

  @include normalize-link;
}

.card__title {
  margin: 0;

  font-weight: 400;

  @include caps-text(16px, 1.25);
  color: $color-light-black;
}

.card__properties {
  margin: 0;
}

.card__property {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.card__property-value {
  margin: 0;
  text-align: right;
}

.card__button {
  grid-column: 1 / -1;
}
