@use "../abstracts/abstracts" as *;

.case {
  --block-bg-color: #{$color-bg-alter};

  padding-top: 25px;
  padding-bottom: 40px;
  background: var(--block-bg-color);

  @media #{$tablet-desktop} {
    padding-top: 45px;
    padding-bottom: 101px;
    background: linear-gradient(to top, var(--block-bg-color) 462px, transparent 462px);
    border-top: $full-divider;
  }

  @media #{$desktop} {
    --block-bg-color: #{$color-bg-basic};

    padding-top: 0;
    padding-bottom: 75px;
    background: linear-gradient(transparent 136px, var(--block-bg-color) 136px);
    border-top: 0;
  }
}

.case__wrapper {
  display: grid;
  gap: 20px;

  @media #{$tablet-desktop} {
    gap: 85px;
  }

  @media #{$desktop} {
    justify-content: space-between;
    grid-template-columns: 440px 560px;
  }
}

.case__title {
  margin: 0 0 40px;

  @media #{$tablet-desktop} {
    margin-bottom: 60px;
  }

  @media #{$desktop} {
    min-height: 136px;
    margin-bottom: 70px;
  }
}

.case__description {
  margin-bottom: 20px;

  @media #{$tablet-desktop} {
    margin-bottom: 55px;
  }

  @media #{$desktop} {
    margin-bottom: 69px;
  }

  p {
    margin: 0;
  }

  p:not(:last-child) {
    margin-bottom: 12px;

    @media #{$tablet-desktop} {
      margin-bottom: 20px;
    }

    @media #{$desktop} {
      margin-bottom: 24px;
    }
  }
}

.case__result {
  display: grid;
  gap: 19px;
  max-width: 436px; // 3 ячейки в ряду
  margin: 0 auto;
  text-align: center;

  @media #{$tablet-desktop} {
    align-items: start;
    gap: 143px;
    grid-template-columns: auto minmax(182px, 0.92fr);
    max-width: 100%;
    margin: 0;
  }

  @media #{$desktop} {
    gap: 41px;
    grid-template-columns: auto;
  }
}

.case__param-list {
  display: grid;
  justify-content: center;
  gap: 17px 32px;
  grid-template-columns: repeat(auto-fit, 124px);
  margin: 0;

  @media #{$tablet-desktop} {
    justify-content: start;
    gap: 23px 42px;
    grid-template-columns: repeat(auto-fit, 162px);
    max-width: 366px; // 2 ячейки в ряду
  }

  @media (min-width: 972px) {
    max-width: 570px; // 3 ячейки в ряду
  }

  @media #{$desktop} {
    max-width: 366px;
  }
}

.case__param-item {
  display: flex;
  flex-direction: column;
  min-height: 71px;

  @media #{$tablet-desktop} {
    min-height: 91px;
  }
}

.case__param-name {
  align-self: center;
  min-height: 24px; // высота под 2 строки текста
  margin: -9px 10px 0;
  padding: 0 15.5px;
  font-size: 12px;
  line-height: 1;
  background-color: var(--block-bg-color);

  @media #{$tablet-desktop} {
    min-height: 28px;
    padding: 0 8.5px;
    font-size: 14px;
    background-color: var(--page-bg-color);

    br {
      display: none;
    }
  }

  @media #{$desktop} {
    background-color: var(--block-bg-color);
  }
}

.case__param-value {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  order: -1;
  margin: 0;
  padding: 14px 5px 16px;

  @include accent-caps-font(24px, 1);
  color: $color-default-black;
  border: 1px solid $color-border-alter;
  border-radius: 3px;

  @media #{$tablet-desktop} {
    padding-bottom: 19px;
    font-size: 30px;
    line-height: 37px;
  }
}

.case__special-param {
  margin: 0;

  @include accent-caps-font(14px, 20px);
  color: $color-default-black;

  @media #{$tablet-desktop} {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 9px 5px;
    margin-top: 11px;
    font-size: 20px;
    text-align: right;
  }

  @media #{$desktop} {
    justify-content: flex-start;
    gap: 9px 66px;
    margin-top: 0;
    text-align: left;
  }
}

.case__comparator {
  justify-self: center;

  @media #{$desktop} {
    justify-self: end;
    margin: 1px 0 10px;
  }
}
