@use "../abstracts/abstracts" as *;

.comparator {
  position: relative;
}

.comparator__content {
  display: grid;
  width: 280px;
  height: 256px;

  @media #{$tablet-desktop} {
    width: 560px;
    height: 512px;
  }
}

.comparator__item {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1;
  grid-row: 1;
}

.comparator__control {
  position: absolute;
  left: 50%;
  padding: 0;
  background-color: transparent;
  border: 0;
  transform: translateX(-50%);
  cursor: ew-resize;
}
