@use "../abstracts/abstracts" as *;

.control {
  display: inline-flex;
  gap: 15px;
  vertical-align: top;
}

.control__label {
  margin-top: 6px;

  @include accent-caps-font(16px, 18px);
  cursor: pointer;
}
