@use "../abstracts/abstracts.scss" as *;

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__text {
  @include font-base(16px, 20px);
  color: $dark-grey;
}
