@use "../abstracts/abstracts" as *;

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $bg-color-basic;

  @media #{$tablet-desktop} {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  @media #{$desktop} {
    padding-top: 66px;
    padding-bottom: 66px;
  }
}

.footer__wrapper {
  display: grid;
  gap: 40px;

  @media #{$tablet-desktop} {
    align-items: start;
    gap: 94px;
    grid-template-columns: 168px 1fr 168px;
  }
}

.footer__item {
  @media #{$mobile} {
    @include divider(-21px, $divider-color);
  }
}

.footer__logo {
  display: flex;
  justify-self: center;

  @media #{$tablet-desktop} {
    justify-self: start;
    margin: 6.5px 0 6.5px;
  }
}

.footer__social {
  margin: 0;

  @media #{$tablet-desktop} {
    margin: 8px 0 7px;
  }
}

.footer__copyright {
  @media #{$tablet-desktop} {
    align-self: end;
    justify-self: end;
    height: 37px;
  }
}
