@use "../abstracts/abstracts" as *;

.location {
  @media #{$desktop} {
    display: grid;
  }

  &--bg-dark {
    background-color: $bg-color-basic;
  }
}

.location__contacts {
  @media #{$desktop} {
    grid-column: 1;
    grid-row: 1;
    margin: 95px 0 105px;
  }
}

.location__map {
  height: 362px;

  @media #{$tablet-desktop} {
    height: 400px;
  }

  @media #{$desktop} {
    grid-column: 1;
    grid-row: 1;
    height: auto;
    min-height: 400px;
  }
}
