@use "../abstracts/abstracts" as *;

.page {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100vh;
  color: $color-base;
  background-color: $color-white;
}

.page__footer {
  margin-top: auto;
}
