@use "../abstracts/abstracts" as *;

.social {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(28px, auto));
  padding: 0;
  list-style: none;
}

.social__link {
  display: flex;
  min-width: 28px;
  min-height: 22px;
  background-color: rgba(102, 102, 102, 0.5);
}
