@use "../abstracts/abstracts" as *;

.subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  font-family: $font-accent;
  color: $color-black;

  &--caps {
    text-transform: uppercase;
  }

  @media #{$mobile} {
    &--line-m {
      line-height: 26px;
    }

    &--line-l {
      line-height: 37px;
    }
  }

  @media #{$tablet-desktop} {
    font-size: 36px;
  }
}
