@use "../abstracts/abstracts.scss" as *;

.subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  font-family: $font-accent;
  color: $black;

  &--accent {
    text-transform: uppercase;
  }
}
