@use "../abstracts/abstracts" as *;

.title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  font-family: $font-accent;
  color: $color-default-black;

  @media #{$mobile} {
    &--line-l {
      line-height: 40px;
    }
  }

  @media #{$tablet-desktop} {
    font-size: 60px;
  }
}
