@use "./variables" as *;

@mixin caps-text($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
  font-family: $font-accent;
  text-transform: uppercase;
}

@mixin normalize-link {
  color: inherit;
  text-decoration: none;
}

@mixin normalize-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin divider($top, $border-color) {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: $top;
    left: 0;
    width: 100%;
    border-top: 1px solid $border-color;
  }
}
