// Fonts
$font-base: "Lato", "Arial", sans-serif;
$font-accent: "Oswald", "Arial Narrow", sans-serif;

// Colors
$white: #ffffff;
$dark-grey: #444444;
$very-dark-grey: #222222;
$almost-black: #111111;
$black: #000000;

// Background Colors
$bg-transparent: rgba(255, 255, 255, 0);
$bg-green: #68b738;
$bg-light-grey: #f2f2f2;
$bg-grey: #eaeaea;

// Border Colors
$border-light-grey: #e7e7e7;
$border-grey: #cdcdcd;
